/* General styling */
.about-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.about-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  flex: 1;
  min-width: 280px;
  background-color: rgba(0, 153, 255, 0.2); /* Adjust the background color and opacity as needed */
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box; /* Ensure padding and margin don't disrupt layout */
  transition: transform 0.3s, background-color 0.3s;
}

.section-2 {
  background-color: #ddf90e;
}

.section-1:hover {
  transform: scale(1.05);
  background-color: rgba(0, 153, 255, 0.7);
}

.section-2:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}

/* Responsive styling */
@media (max-width: 768px) {
  .about-sections {
    flex-direction: column;
  }

  .section {
    margin: 10px 0;
  }
}
